.main-color, .main-link {
    color: $main-color;
}
.main-link:hover {
    color: $main-color;
    text-decoration: underline;
}

.second-link {
    color: $two-color;
}
.second-link:hover {
    color: $two-color;
    text-decoration: underline;
}

.no-main-underline {
    color: $main-color;
}
.no-main-underline:hover {
    color: $main-color;
    text-decoration: none!important;
}
.no-second-underline {
    color: $two-color;
}
.no-second-underline:hover {
    color: $two-color;
    text-decoration: none!important;
}


.main-button {
    background-color: $main-color;
    color: $white;
    border: 1px solid $main-color;
    box-shadow: none !important;
    margin: 0px;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 4px;
}
.main-button:hover {
    background-color: $seven-color;
    color: $white;
    border: 1px solid $seven-color;
}

.second-button, .second-button:visited {
    background: $white;
    color: $two-color;
    border: solid 1px $five-color;
    box-shadow: none !important;
    margin: 0px;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 4px;
}
.second-button:hover {
    background: $four-color;
    color: $two-color;
    border: solid 1px $five-color;
}


.cancel-button {
    background-color: $white!important;
    color: $my-red;
    border: 1px solid $my-red;
    box-shadow: none !important;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 4px;
}
.cancel-button:hover {
    background-color: $my-red !important;
    color: $white;
    border: 1px solid $my-red;
}


.btn-sm {
    padding: 6px 15px;
    font-size: 12px;
}
.btn-lg {
    padding: 12px 40px;
    font-size: 18px;
}

.my-group-button {
    background: $three-color;
    border-radius: 20px;
    display: inline-block;
}
.my-btn-group {
    background: $three-color;
    color: #bbb;
    border-radius: 20px;
    transition: 0.3s;
}
.my-btn-group:hover,
.my-btn-group:active,
.my-btn-group.active {
    background: $my-orange;
    color: $white;
}