.my-breadcrumb {
    background: $main-color;
    color: $white;
}
.my-breadcrumb .breadcrumb-item {
    color: $white;
}
.my-breadcrumb .breadcrumb-item.active {
    font-weight: 600;
}
.my-breadcrumb .breadcrumb-item a {
    color: rgba(255,255,255,.7);
}
.my-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255,255,255,.7);
    content: "/";
}