body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: $two-color;
}

.my-small-text {
    font-size: 12px!important; 
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
    }
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 0!important;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.alig-icons {
    position: relative;
    bottom: -6px;
}
.alig-icons-small {
    font-size: 18px!important;
    position: relative;
    bottom: -4px;
}

.bg-gradient {
    background: rgb(103,0,32)!important;
    background: -moz-linear-gradient(0deg, rgba(103,0,32,1) 0%, rgba(182,74,94,1) 100%)!important;
    background: -webkit-linear-gradient(0deg, rgba(103,0,32,1) 0%, rgba(182,74,94,1) 100%)!important;
    background: linear-gradient(0deg, rgba(103,0,32,1) 0%, rgba(182,74,94,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#670020",endColorstr="#b64a5e",GradientType=1);    
}

.bg-main-color {
    background-color: $main-color!important;
}


.logo-invex {
    max-width: 400px;
    max-height: 50px;
    margin: 3px 0px;
}

.tarjeta-principal {
    width: 100%;
    max-width: 150px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.3);
}

a, a:hover {
    color: $main-color;
}

.main-content {
    background: $three-color;
}

.arrow-down {
    background: $main-color;
    width: 32px;
    height: 32px;
    bottom: -15px;
    border-radius: 100px;
    color: $white;
    font-size: 32px!important;
    position: absolute;
    padding-top: 17px;
}

.page-link:hover {
    z-index: 2;
    color: $white!important;
    text-decoration: none;
    background-color: $main-color;
    border-color: $main-color;
}

.my-opacity {
    opacity: 0.4;
    transition: 0.4s; 
}
.my-opacity:hover {
    opacity: 1;
    cursor: pointer;
}

.programa-cero {
    background: $two-color;
    color: $white;
    padding: 7px 10px;
    border: 1px solid $two-color;
    border-radius: 0px 10px 10px 10px;
    display: none;
    vertical-align: middle;

    .cerrar {
        background: $main-color;
        color: $white;
        width: 30px;
        height: 30px;
        border-radius: 50px;

        .material-icons {
            position: relative;
            bottom: -5px;
            right: 10px;
            font-size: 20px;
        }
    }
}

.text-volaris {
    font-size: 20px;
    font-weight: 600;
    color: $volaris;
}
.monedero-volaris {
    max-width: 200px;
} 


.my-chat-icon {
    display: inline-block;
    position: fixed;
    margin-top: 135px;
   
    background: $two-color;
    color: $white!important; 
    border-radius: 7px 0px 0px 7px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
    padding: 10px;
    right: 0;
    z-index: 999;
    text-align: center;

    .material-icons { 
        font-size: 28px;
        color: $white; 
        margin:  15px 0px 0px 0px;
    }
    a {
        color: $white; 
    }
}
.my-chat-content {
    display: inline-block;
    position: fixed;
    margin-top: 130px;
    width: 40%;
    min-height: 70%;
    background: $three-color; 
    border-radius: 7px 0px 0px 7px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
    padding: 10px;
    right: -800px;
    z-index: 9999;
    
    .my-chat-content-close {
        margin: -11px 0px 0px -32px;
        float: left;
        
        .material-icons {
            font-size: 32px;
        }
    }
}