/*  MENÚ VERTICAL  */
.my-nav-top, .my-nav-top .dropdown-menu {
    background: $main-color!important;
    color: $white;
    .dropdown-item {
        color: $white!important;
        padding: 7px 0px;
        border-radius: 50px;
        margin: 5px 0px;
    } 
    .dropdown-item:hover {
        color: $two-color!important;
    } 
    .dropdown-item.active, .dropdown-item:active {
        background-color: $three-color;
        color: $two-color;
        padding: 7px 0px;
        border-radius: 50px;
        margin: 5px 0px;
    } 
}
.navbar-toggler {
    margin-top: 15px;
}


#sidebar-container {
    min-height: 100vh;  /*100vh*/
    background: rgb(103,0,32)!important;
    background: -moz-linear-gradient(0deg, rgba(103,0,32,1) 0%, rgba(182,74,94,1) 100%)!important;
    background: -webkit-linear-gradient(0deg, rgba(103,0,32,1) 0%, rgba(182,74,94,1) 100%)!important;
    background: linear-gradient(0deg, rgba(103,0,32,1) 0%, rgba(182,74,94,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#670020",endColorstr="#b64a5e",GradientType=1); 
    padding: 0;
    box-shadow: -10px 0px 15px 0px rgba(77, 58, 58, 0.3) inset;
    -webkit-box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.3) inset;

    /* Menu item*/
    .list-group a {
        height: 45px;
        color: $white;
    }

    /* Submenu item*/
    .list-group-item, 
    .dropdown-item {
        background: rgba(162,3,52,0);
        border: none;
        color: $white!important;
        transition: 0.6s;
    }

    .list-group-item:hover, 
    .list-group-item:focus, 
    .dropdown-item:hover, 
    .dropdown-item:focus, 
    .list-group-item-active {
        width: 100%;
        z-index: 999;
        background-color: $three-color!important;
        color: $main-color!important;
        text-decoration: none;
        margin-left: 10px;
        border-radius: 50px 0px 0px 50px;
        font-weight: 600;
    }

    /* Closed submenu icon */
    .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
        content: " \f0d7";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 10px;
    }

    /* Opened submenu icon */
    .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
        content: " \f0da";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 10px;
    }
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 240px;
}
.sidebar-collapsed {
    width: 55px;
}

/*  MENÚ VERTICAL  */


