.my-tab {
    color: $white;
    background-color: $main-color;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
    display: inline-block;
}


.my-nav-tabs .nav-link {
    background: $three-color;
    color: $five-color;
    font-weight: 600;
    border-top: 1px solid $four-color !important;
    border-left: 1px solid $four-color !important;
    border-right: 1px solid $four-color !important;
}

.my-nav-tabs>li.active>a, 
.my-nav-tabs>li.active>a:hover, 
.my-nav-tabs>li.active>a:focus, 
.my-nav-tabs .nav-link.active, 
.my-nav-tabs .nav-link:focus {
    background: $white;
    border-color: $white;
    color: $main-color;
}

.my-tabs-volaris .nav-link {
    background: $three-color;
    color: $five-color;
    font-weight: 600;
    border-top: 1px solid $four-color !important;
    border-left: 1px solid $four-color !important;
    border-right: 1px solid $four-color !important;
}

.my-tabs-volaris>li.active>a, 
.my-tabs-volaris>li.active>a:hover, 
.my-tabs-volaris>li.active>a:focus, 
.my-tabs-volaris .nav-link.active, 
.my-tabs-volaris .nav-link:focus {
    background: $volaris;
    border-color: $volaris;
    color: $white;
}


.tab-main-button {
    background-color: $main-color;
    color: $white;
    border: 1px solid $main-color;
    box-shadow: none !important;
    margin: 0px;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 10px 10px 0px 0px;
}
.tab-main-button:hover {
    background-color: $seven-color;
    color: $white;
    border: 1px solid $seven-color;
}
.tab-second-button, .tab-second-button:visited {
    background: $white;
    color: $two-color;
    border: solid 1px $five-color;
    box-shadow: none !important;
    margin: 0px;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 10px 10px 0px 0px;
}
.tab-second-button:hover {
    background: $four-color;
    color: $two-color;
    border: solid 1px $five-color;
}

.list-group-item.active {
    z-index: 2;
    color: $white;
    background-color: $main-color;
    border-color: $main-color;
}