$main-color: #a20234;
$two-color: #424242;
$three-color: #f8f9fa;
$four-color: #ddd;
$five-color: #777;
$six-color: #DDDAD0;
$seven-color: #87002a;
$white: #fff;
$black: #000;

$main-color--light: #B64A5E;
$main-color--dark: #670020;

$six-color--light: #F1EDE1;
$six-color--dark: #C4BFAE;

$volaris: #9F4194;
$my-green: #28a745; 
$my-red: #dc3545;
$my-orange: #e69d00;